ignore-scripts=true
install-links=true
min-release-age=5 # days
min-release-age-exclude[]=@augment-vir/*
min-release-age-exclude[]=@date-vir/*
min-release-age-exclude[]=@electrovir/*
min-release-age-exclude[]=@rest-vir/*
min-release-age-exclude[]=@review-vir/*
min-release-age-exclude[]=@updating-secrets/*
min-release-age-exclude[]=@virmator/*
min-release-age-exclude[]=auth-vir
min-release-age-exclude[]=catch-exit
min-release-age-exclude[]=cli-vir
min-release-age-exclude[]=cron-vir
min-release-age-exclude[]=date-vir
min-release-age-exclude[]=deploy-vir
min-release-age-exclude[]=detect-activity
min-release-age-exclude[]=device-navigation
min-release-age-exclude[]=docker-vir
min-release-age-exclude[]=element-book
min-release-age-exclude[]=element-vir
min-release-age-exclude[]=execute-in-browser
min-release-age-exclude[]=html-spec-tags
min-release-age-exclude[]=i18n-vir
min-release-age-exclude[]=indexed-vir
min-release-age-exclude[]=istanbul-smart-text-reporter
min-release-age-exclude[]=lit-css-vars
min-release-age-exclude[]=local-db-client
min-release-age-exclude[]=markdown-code-example-inserter
min-release-age-exclude[]=mock-vir
min-release-age-exclude[]=mono-vir
min-release-age-exclude[]=object-shape-tester
min-release-age-exclude[]=observavir
min-release-age-exclude[]=parse-email-address
min-release-age-exclude[]=pdf-vir
min-release-age-exclude[]=pglite-cli
min-release-age-exclude[]=prettier-plugin-interpolated-html-tags
min-release-age-exclude[]=prettier-plugin-multiline-arrays
min-release-age-exclude[]=prevent-navigation
min-release-age-exclude[]=prisma-pglite
min-release-age-exclude[]=prisma-vir
min-release-age-exclude[]=pull-request-vir
min-release-age-exclude[]=runstorm
min-release-age-exclude[]=schema-vir
min-release-age-exclude[]=sentry-vir
min-release-age-exclude[]=spa-router-vir
min-release-age-exclude[]=structured-render
min-release-age-exclude[]=theme-vir
min-release-age-exclude[]=tidy-tsc
min-release-age-exclude[]=typed-event-target
min-release-age-exclude[]=updating-secrets
min-release-age-exclude[]=url-vir
min-release-age-exclude[]=vira
min-release-age-exclude[]=virmator
min-release-age-exclude[]=web-snaps
min-release-age-exclude[]=page-active