**/*/readme-examples/
**/*/test/
*.book-helper.*
*.book.*
*.d.ts.map
*.test-helper.*
*.test.*
*.tgz
.*
.not-committed/
/Icon?
/configs/
/coverage/
/cspell.config.cjs
/graphics/
/src/
/www-static/
bash-scripts/
dist-docs/
generated-config-*
index.html
test-files/
ts.out/
tsconfig*.json
tsconfig.tsbuildinfo