name: 'tagged-release'

on:
    push:
        tags:
            - 'v*'

jobs:
    tagged-release:
        name: 'Tagged Release'
        if: github.event.base_ref == 'refs/heads/main' || github.event.base_ref == 'refs/heads/master'
        runs-on: 'ubuntu-latest'

        steps:
            - uses: actions/checkout@v3
            - name: Use Node.js
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x
            - name: run test
              run: |
                  npm ci
                  npx playwright install --with-deps
                  npm run test:all
            - name: pack and set vars
              id: vars
              run: |
                  tagName="${GITHUB_REF#refs/*/}"
                  originalTarName="$(npm pack)"
                  packageNameWithoutFileExtension="${originalTarName%.tgz}"
                  tagNameWithoutV="${tagName##v}"
                  packageName="${packageNameWithoutFileExtension%-$tagNameWithoutV}"
                  newTarName="$packageName-$tagName.tgz"
                  mv "$originalTarName" "$newTarName"
                  echo ::set-output name=tarName::"$newTarName"

            - uses: 'marvinpinto/action-automatic-releases@latest'
              with:
                  repo_token: '${{ secrets.GITHUB_TOKEN }}'
                  prerelease: false
                  files: |
                      ${{ steps.vars.outputs.tarName }}
